* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #94f1f4;
    color: #014435;
}
main {
    font-family: 'Poppins', sans-serif;
    background: #f0b9b9;
    color: #000000;
}

table {
    border-spacing: 10px;
    border-collapse: separate;
    text-align: center;
    border-radius: 2px solid #000;
}

td {
    padding: 10px;
}

h2 {
    margin-bottom: 20px;
    color: rgb(255, 0, 0);
}
 h1 {
    color: #000;
    text-decoration: underline;
    margin-bottom: 20px;
 }